﻿@model AdminLTE.Models.detailOfSignaturesByCheck

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Añadir Firma</h4>
</div>
<div class="modal-body">*@
    
    <p id="MessageToClient" class="text-danger">@TempData["MessageToClient"]</p>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createSignatureByCheck" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.dateCreation, new { @Value = @DateTime.Now.ToShortDateString() })
            @Html.HiddenFor(model => model.dateModification, new { @Value = @DateTime.Now.ToShortDateString() })
            <input type="hidden" value="" name="checkId" />

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.signatureId, "signatureId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.DropDownList("signatureId", null, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.signatureId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    <a id="btnAddSignatures" class="btn btn-success">Añadir</a>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default closeAddPartial" concat="Signature">Cancelar</a>
                </div>
            </div>
            
            

            @*<div class="form-group">
                @Html.LabelFor(model => model.checkId, "checkId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("checkId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.checkId, "", new { @class = "text-danger" })
                </div>
            </div>*@


            @*<div class="form-group">
                @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.active)
                        @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        </div>
    }

@*</div>
<div class="modal-footer">
    <a id="btnAddSignatures" class="btn btn-success">Añadir</a>
    <a class="closeModalAdd btn btn-success">Cerrar</a>
</div>*@

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
