﻿@model AdminLTE.Models.detailOfSignaturesByCheck

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Añadir Movimientos</h4>
</div>
<div class="modal-body">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>detailOfSignaturesByCheck</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.checks.checkNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.checks.checkNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.signatures.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.signatures.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.active)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @*@Html.ActionLink("Regresar", "Edit/" + , "checks", new { @class = "btn btn-primary" })*@
            </div>
        }
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" href="/checks/Edit/@Html.Raw(ViewBag.idCheck)">Regresar</a>
</div>