﻿@model AdminLTE.Models.detailOfSignaturesByCheck

@{
    ViewBag.Title = "Edit";
}

<td>
    
</td>

<td>
    @Html.DropDownList("signatureId", null, htmlAttributes: new { @class = "" })
    @Html.ValidationMessageFor(model => model.signatureId, "", new { @class = "text-danger" })
</td>

<td>
    @Html.EditorFor(model => model.active)
    @Html.ValidationMessageFor(model => model.active, "")
</td>

<td>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editSignaturesByCheckForm" }))
    {
        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">*@
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.dateCreation)
        @Html.HiddenFor(model => model.dateModification, new { @Value = @DateTime.Now.ToShortDateString() })
        @Html.HiddenFor(model => model.fieldControl)
        @Html.HiddenFor(model => model.uniquefield)
        <input type="hidden" value="@Html.Raw(ViewBag.checkId)" name="checkId" />

        <input type="hidden" value="" name="signatureId" />
        <input type="hidden" value="" name="active" />

        @*<a id="movementsSave" class="btn btn-success btn-xs">Guardar</a>*@
        <a class="btnSave btn btn-success btn-xs" type-id="signatures">Guardar</a>
        @*<a class="cancelEdition btn btn-default btn-xs">cancel</a>*@
        <a id-btn-close="signature" class="refreshPartialMov btn btn-default btn-xs" href="/detailOfSignaturesByChecks/Index?checkId=@Html.Raw(ViewBag.checkId)">Cancel</a>

    }
</td>
        @*<div class="form-group">
            @Html.LabelFor(model => model.signatureId, "signatureId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("signatureId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.signatureId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.checkId, "checkId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("checkId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.checkId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.active)
                    @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    @*</div>*@


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
