﻿@model IEnumerable<AdminLTE.Models.detailOfSignaturesByCheck>

<p>
    
</p>
<table class="table" id="tableDetailOfSignatures">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.checks.checkNumber)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.signatures.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@Html.Raw("showData" + item.id + (item.active == true ? String.Empty : " danger"))">
                <td>
                    @*@Html.DisplayFor(modelItem => item.checks.checkNumber)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.signatures.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-xs" })*@
                    <a id="@Html.Raw(item.id)" class="btnEdit btn btn-primary btn-xs" href="/detailOfSignaturesByChecks/Edit/@Html.Raw(item.id)" table-id="signatures">Editar</a>
                    @*@Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info btn-xs" })*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btnModalUrl btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
