﻿@model AdminLTE.Models.check

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.checkStates.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkStates.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clients.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clients.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currencys.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currencys.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
