﻿@model AdminLTE.Models.check

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<a class="btnModalUrl btn btn-success" href="/checkDetails/Create">Agregar Movimiento</a>*@
            </div>
            <div class="box-body">
                <h2>@ViewBag.Title</h2>


                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editCheckForm" }))
                {
                    @Html.AntiForgeryToken()
                    <h4><p class="text-danger">@TempData["MessageToClient"] @Html.Raw(ViewBag.msgError)</p></h4>
                    <div class="form-horizontal">
                        <div>
                            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-default" })
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.dateCreation)
                        @Html.HiddenFor(model => model.dateModification, new { @Value = @DateTime.Now.ToShortDateString() })
                        @Html.HiddenFor(model => model.fieldControl)
                        @Html.HiddenFor(model => model.uniquefield)


                        <div class="form-group">
                            @Html.LabelFor(model => model.checkNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.checkNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.checkNumber, "", new { @class = "text-danger" })
                            </div>
                            
                            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                            </div>
                            
                            @Html.LabelFor(model => model.currencyId, "Moneda", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("currencyId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.currencyId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.checkStateId, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownList("checkStateId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.checkStateId, "", new { @class = "text-danger" })
                            </div>

                            @*@Html.LabelFor(model => model.exchangeRate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label class="control-label col-md-2">Tasa de cambio</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.exchangeRate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.exchangeRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.clientId, "A nombre de", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("clientId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.clientId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            
                        </div>

                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.active)
                                    @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-default" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <a href="@Url.Action("DownloadPDF", "checks", new {ViewBag.checkId})"><img src="~/ReportsDesign/Adobe_PDF_file_icon_32x32.png" /></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="@Url.Action("DownloadXLS", "checks", new { ViewBag.checkId })"><img src="~/ReportsDesign/excel32x32.gif" /></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr />
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header">
                <div class="col-md-12">
                    <a id="Movement" class="btnPartialView btn btn-success" href="/checkDetails/Create">Agregar Movimiento</a>
                </div>
                <div class="col-md-12">
                    <h4><p class="text-danger">@TempData["msgErrorMovement"]</p></h4>
                    <div id="partialCreateMovement"></div>
                </div>
            </div>
            <div class="box-body">
                @*<a class="activeToggle btn btn-warning" id-view="movement">Ocultar movimientos inactivos</a>*@
                
                
                <hr/>

                <div class="col-md-3">
                    <div class="col-md-12">
                        Mostrar inactivos
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <span><i id="inactiveMovements" class="activeToggle fa fa-toggle-on fa-2x" id-view="movement" aria-hidden="true" style="color:green;"></i></span>
                    </div>
                </div>
                <div class="input-group col-md-8">
                    @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control", placeholder = "Escriba la Busqueda", aria_describedby = "basic-addon2" })
                    <span class="input-group-btn">
                        @*<button type="submit" class="btn btn-primary">Buscar</button>*@
                        <a href="/checkDetails/Index?checkId=@Html.Raw(Model.id + "&search=")" class="btn btn-primary btnSearch">Buscar</a>
                    </span>
                </div><!-- /input-group -->            
                <hr/>
                @*<span class="activeToggle btn btn-primary" id-view="movement">Mostrar inactivos <i class="fa fa-toggle-on fa-2x" aria-hidden="true"></i></span>*@
                <div id="reloadIndex">
                    @{Html.RenderAction("Index", "checkDetails", new { checkId = Model.id ,search = "" , page = ViewBag.page, sort = ViewBag.sort});}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header">
                <div class="col-md-12">
                    <a id="Signature" class="btnPartialView btn btn-success" href="/detailOfSignaturesByChecks/Create">Agregar Firma</a>
                </div>
                <div class="col-md-12">
                    <h4><p class="text-danger">@TempData["msgErrorSiganture"]</p></h4>
                    <div id="partialCreateSignature"></div>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-3">
                    <div class="col-md-12">
                        Mostrar inactivos
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <span><i id="inactiveSignatures" class="activeToggle fa fa-toggle-on fa-2x" id-view="signature" aria-hidden="true" style="color:green;"></i></span>
                    </div>
                </div>
                <hr />
                <div id="partialSignature">
                    @{Html.RenderAction("Index", "detailOfSignaturesByChecks", new { checkId = Model.id });}
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <a class="btnModalUrl col-md-offset-2 btn btn-success" href="/detailOfSignaturesByChecks/Create">Agregar Firma</a>
        <div class="col-md-10 col-md-offset-2">
            @{Html.RenderAction("Index", "detailOfSignaturesByChecks", new { checkId = Model.id });}
        </div>
    </div>*@




@*Ventana modal para agregar un nuevo registro*@
<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="contentModal"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/check.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    
}
