﻿@model IEnumerable<AdminLTE.Models.check>

@{
    ViewBag.Title = "Cheques Registrados";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h2>@ViewBag.Title</h2>

                <p>
                    @Html.ActionLink("Nuevo Cheque", "Create", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="box-body">
                <table class="table">
                    <tr class="info">
                        <th>
                            @Html.DisplayNameFor(model => model.checkStates.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.checkNumber)
                        </th>
                        <th>
                            A nombre de
                            @*@Html.DisplayNameFor(model => model.clients.name)*@
                        </th>
                        <th>
                            Tipo de Moneda
                            @*@Html.DisplayNameFor(model => model.currencys.name)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            Tasa de cambio
                            @*@Html.DisplayNameFor(model => model.exchangeRate)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.active)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.checkStates.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.checkNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.clients.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.currencys.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.exchangeRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.active)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { uniquefield = item.uniquefield },new{ @class = "btn btn-primary btn-xs"}) 
                                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info btn-xs" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-xs" })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>



