﻿@model AdminLTE.Models.LogEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LogEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thread)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityFormalNamePlural)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityFormalNamePlural)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityKeyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityKeyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exception)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogEntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
