﻿@*@model IEnumerable<AdminLTE.Models.LogEntry>*@

@using PagedList.Mvc
@model PagedList.IPagedList<AdminLTE.Models.LogEntry>




@{
    ViewBag.Title = "Pistas de auditoria";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-info">
            <div class="box-header">
                <h2>@ViewBag.Title</h2>

                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                </p>
            </div>
            <div class="box-body">

                <div class="input-group">

                    @using (Html.BeginForm("IndexUser", "LogEntries", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control", placeholder = "Escriba la Busqueda", aria_describedby = "basic-addon2" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </span>
                        </div><!-- /input-group -->
                    }

                </div>

                <table class="table">
                    <tr class="info">
                        <th>
                            @Html.ActionLink("LogDate", "IndexUser", new { sort = ViewBag.LogDateSort, search = ViewBag.CurrentSearch })
                        </th>
                        <th>
                            @Html.ActionLink("LogLevel", "IndexUser", new { sort = ViewBag.LogLevelSort, search = ViewBag.CurrentSearch })
                        </th>
                        <th>
                            @Html.ActionLink("EntityFormalNamePlural", "IndexUser", new { sort = ViewBag.EntityFormalNamePluralSort, search = ViewBag.CurrentSearch })
                        </th>
                        <th>
                            @Html.ActionLink("UserName", "IndexUser", new { sort = ViewBag.UserNameSort, search = ViewBag.CurrentSearch })
                        </th>
                        <th>
                            @Html.ActionLink("Message", "IndexUser", new { sort = ViewBag.MessageSort, search = ViewBag.CurrentSearch })
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LogDate)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Logger)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.LogLevel)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Thread)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.EntityFormalNamePlural)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.EntityKeyValue)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Exception)
                            </td>*@
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.LogEntryID }, new { @class = "btn btn-primary btn-xs" })*@
                            </td>
                        </tr>
                    }

                </table>


                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("IndexUser", new { sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch, page }))
            </div>
        </div>
    </div>
</div>




@*@{
    ViewBag.Title = "IndexUser";
}

<h2>IndexUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityFormalNamePlural)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityKeyValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thread)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityFormalNamePlural)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityKeyValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exception)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogEntryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogEntryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogEntryID })
        </td>
    </tr>
}

</table>*@
