﻿@*@model IEnumerable<AdminLTE.Models.LogEntry>*@
           
@using PagedList.Mvc
@model PagedList.IPagedList<AdminLTE.Models.LogEntry>




@{
    ViewBag.Title = "Pistas de auditoria";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h2>@ViewBag.Title</h2>

                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                </p>
            </div>
            <div class="box-body">
                
                <div class="input-group">

                    @using (Html.BeginForm("Index", "LogEntries", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control", placeholder = "Escriba la Busqueda", aria_describedby = "basic-addon2" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </span>
                        </div><!-- /input-group -->
                    }

                </div>

                    <table class="table">
                        <tr class="info">
                            <th>
                                @*@Html.DisplayNameFor(model => model.LogDate)*@
                                @Html.ActionLink("LogDate", "Index", new { sort = ViewBag.LogDateSort, search = ViewBag.CurrentSearch })
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Logger)*@
                                @*@Html.ActionLink("Logger", "#")*@
                                @Html.Raw("Logger")
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.LogLevel)*@
                                @Html.ActionLink("LogLevel", "Index", new { sort = ViewBag.LogLevelSort, search = ViewBag.CurrentSearch })
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Thread)*@
                                @*@Html.ActionLink("Thread", "#")*@
                                @Html.Raw("Thread")
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.EntityFormalNamePlural)*@
                                @Html.ActionLink("EntityFormalNamePlural", "Index", new { sort = ViewBag.EntityFormalNamePluralSort, search = ViewBag.CurrentSearch })
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.EntityKeyValue)*@
                                @*@Html.ActionLink("EntityKeyValue", "#")*@
                                @Html.Raw("EntityKeyValue")
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.UserName)*@
                                @Html.ActionLink("UserName", "Index", new { sort = ViewBag.UserNameSort, search = ViewBag.CurrentSearch })
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Message)*@
                                @Html.ActionLink("Message", "Index", new { sort = ViewBag.MessageSort, search = ViewBag.CurrentSearch })
                            </th>
                            @*<th>
                                @Html.ActionLink("Exception", "Index", new { sort = ViewBag.ExceptionSort, search = ViewBag.CurrentSearch })
                            </th>*@
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LogDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Logger)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LogLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Thread)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntityFormalNamePlural)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntityKeyValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Exception)
                                </td>*@
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.LogEntryID }, new{@class = "btn btn-primary btn-xs"})*@
                                    @Html.ActionLink("Details", "Details", new { id = item.LogEntryID }, new {@class = "btn btn-info btn-xs"})
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.LogEntryID }, new{ @class = "btn btn-danger btn-xs"})*@
                                </td>
                            </tr>
                        }

                    </table>

                
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index", new { sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch, page }))
            </div>
        </div>
    </div>
</div>

