﻿@using AdminLTE.Models
@model AdminLTE.Models.checkDetail

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Añadir Movimientos</h4>
</div>
<div class="modal-body">*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createDetailByCheck" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<h4><p class="text-danger" id="MessageToClient"></p></h4>*@
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.dateCreation, new { @Value = @DateTime.Now.ToShortDateString() })
            @Html.HiddenFor(model => model.dateModification, new { @Value = @DateTime.Now.ToShortDateString() })
            <input type="hidden" value="" name="checkId" />

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.checkId, "checkId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("checkId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.checkId, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-md-1">
                    <a id="btnAddDetails" class="btn btn-success">Añadir</a>
                    
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default closeAddPartial" concat="Movement">Cancelar</a>
                </div>

                
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.active)
                            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
        </div>
    }

@*</div>
<div class="modal-footer">
    <a id="btnAddDetails" class="btn btn-success">Añadir</a>
    <a class="closeModalAdd btn btn-success">Cerrar</a>
</div>*@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
