﻿@model AdminLTE.Models.checkDetail


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Borrar Registro</h4>
</div>
<div class="modal-body">

    <h3>¿Estás seguro que quieres borrar esto?</h3>
    <div>
        <h4>checkDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.checks.checkNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.checks.checkNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.active)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @*@Html.ActionLink("Back to List", "Index")*@
            </div>
        }
    </div>
</div>
<div class="modal-footer">
    @*<a class="close btn btn-primary" href="/checks/Edit/@Html.Raw(ViewBag.checkUF)">Regresar</a>*@
    <button type="button" class="close btn-default" data-dismiss="modal">cerrar</button>
</div>