﻿@model AdminLTE.Models.checkDetail

@{
    ViewBag.Title = "Edit";
}

<td>
    @*<input type="text" value="@Html.Raw(ViewBag.checkNumber)" disabled />*@
</td>

<td>
    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "" } })
    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
</td>

<td>
    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "" } })
    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.active)
    @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
</td>

<td>

    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "editCheckDetailsForm"}))
    {

        @Html.AntiForgeryToken()
        @*<div class="form-inline">*@

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.dateCreation)
        @Html.HiddenFor(model => model.dateModification, new {@Value = @DateTime.Now.ToShortDateString()})
        @Html.HiddenFor(model => model.fieldControl)
        @Html.HiddenFor(model => model.uniquefield)
        <input type="hidden" value="@Html.Raw(ViewBag.checkId)" name="checkId" />

        
        <input type="hidden" value="" name="name"/>
        <input type="hidden" value="" name="amount" />
        <input type="hidden" value="" name="active" />
        
        <a id="movementsSave" class="btnSave btn btn-success btn-xs" type-id="movements">Guardar</a>
        <a class="refreshPartialMov btn btn-default btn-xs" href="/checkDetails/Index?checkId=@Html.Raw(ViewBag.checkId + "&search=" + ViewBag.CurrentSearch + "&page=" + ViewBag.page + "&sort=" + ViewBag.sort)">cancel</a>
        
    } 

</td>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
