﻿@using System.Activities.Statements
@*@model IEnumerable<AdminLTE.Models.checkDetail>*@
           
@using AdminLTE.Models
@using PagedList.Mvc
@model PagedList.IPagedList<AdminLTE.Models.checkDetail>

<p>
    @*@Html.ActionLink("Agregar", "Create")*@
    
</p>


<table class="table" id="tableCheckDetail" onload="inactive()">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.checks.checkNumber)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.name)*@
                @*@Html.ActionLink("Descripción", "Edit","checks", new { uniquefield = ViewBag.checkUF, search = ViewBag.CurrentSearch, sort = ViewBag.descriptionSort },null)*@
                <a class="refreshPartialMov" href="/checkDetails/Index?checkId=@Html.Raw(ViewBag.checkId + "&search=" + ViewBag.CurrentSearch + "&page=" + ViewBag.page + "&sort=" + ViewBag.descriptionSort)">Descripción</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.amount)*@
                @*@Html.ActionLink("Monto", "Edit", "checks", new { uniquefield = ViewBag.checkUF, search = ViewBag.CurrentSearch, sort = ViewBag.amountSort }, null)*@
                <a class="refreshPartialMov" href="/checkDetails/Index?checkId=@Html.Raw(ViewBag.checkId + "&search=" + ViewBag.CurrentSearch + "&page=" + ViewBag.page + "&sort=" + ViewBag.amountSort)">Monto</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.active)*@
                @*@Html.ActionLink("Monto", "Edit", "checks", new { uniquefield = ViewBag.checkUF, search = ViewBag.CurrentSearch, sort = ViewBag.activeSort }, null)*@
                <a class="refreshPartialMov" href="/checkDetails/Index?checkId=@Html.Raw(ViewBag.checkId + "&search=" + ViewBag.CurrentSearch + "&page=" + ViewBag.page + "&sort=" + ViewBag.activeSort)">Active</a>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@Html.Raw("showData" + item.id + (item.active == true ? String.Empty : " danger"))" >

                <td class="checkNumberItem">
                    @*@Html.DisplayFor(modelItem => item.checks.checkNumber)*@
                </td>
                <td class="nameItem">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="amountItem">
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td class="activeItem">
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td class="buttonsCell">
                    @*@Html.ActionLink("Edit", "Edit", "checkDetails", new { id = item.id }, new { @class = "btnEdit btn btn-primary btn-xs", @id = "edit" + item.id})*@
                    @*<a id="@Html.Raw("edit" + item.id)" class="btnEdit btn btn-primary btn-xs" href="/checkDetails/getMovement?id=@Html.Raw(item.id)">Editar</a>*@
                    <a id="@Html.Raw(item.id)" class="btnEdit btn btn-primary btn-xs" href="/checkDetails/Edit?id=@Html.Raw(item.id + "&search=" + ViewBag.CurrentSearch + "&page=" + ViewBag.page + "&sort=" + ViewBag.CurrentSort)" table-id="movements">Editar</a>
                    @*@Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info btn-xs" })*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btnModalUrl btn btn-danger btn-xs" })
                </td>
            </tr>
            @*<tr id="@Html.Raw("edit" + item.id)">
                    <td class="checkNumberEdit">
                        <input type="text" readonly/>
                    </td>
                    <td class="nameEdit">
                        <input type="text" />
                    </td>
                    <td class="amountEdit">
                        <input type="text" />
                    </td>
                    <td class="activeEdit">
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm">Guardar</a>
                        <a class="btn btn-default btn-sm">Cancelar</a>
                    </td>
                </tr>*@
        }
    </tbody>

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", "checkDetails", new { ViewBag.checkId, search = ViewBag.CurrentSearch, page, sort = ViewBag.CurrentSort }))
